HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

infra/jenkins/jenkins_server_keypair.pem
infra/jenkins/.terraform/*
infra/jenkins/.terraform.lock.hcl
infra/jenkins/terraform.tfstate
infra/jenkins/terraform.tfstate.backup
.DS_Store
infra/.DS_Store